__pycache__/
.DS_Store

server_materials/Vtop.h

board_data_user.toml
settings.toml

# Allow examples in these
waveforms/*
!waveforms/ex_*
verilog/live_sim/*
!verilog/live_sim/ex_*
verilog/testbench/*
!verilog/testbench/ex_*
