__pycache__/
.DS_Store
host_server/
docker_cache/
python/waveform_viewer_choice.txt

# Allow examples in these
waveforms/*
!waveforms/ex_*
verilog/live_sim/*
!verilog/live_sim/ex_*
verilog/testbench/*
!verilog/testbench/ex_*